[Unit]
Description=auto_login_wifi
After=network.target
 
[Service]
Type=simple
WorkingDirectory=/opt/autoLoginWifi
ExecStart=/bin/bash /opt/autoLoginWifi/login.sh
 
[Install]
WantedBy=multi-user.target
